<%- model_class = Despesa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:corte) %></th>
      <th><%= model_class.human_attribute_name(:costura) %></th>
      <th><%= model_class.human_attribute_name(:pintura) %></th>
      <th><%= model_class.human_attribute_name(:bordado) %></th>
      <th><%= model_class.human_attribute_name(:diversos) %></th>
      <th><%= model_class.human_attribute_name(:produto_id) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @despesas.each do |despesa| %>
      <tr>
        <td><%= link_to despesa.id, despesa_path(despesa) %></td>
        <td><%= despesa.total = despesa.corte + despesa.costura + despesa.pintura + despesa.bordado + despesa.diversos %></td>
        <td><%= despesa.corte %></td>
        <td><%= despesa.costura %></td>
        <td><%= despesa.pintura %></td>
        <td><%= despesa.bordado %></td>
        <td><%= despesa.diversos %></td>
        <td><%= despesa.produto.nome %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      despesa_path(despesa), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_despesa_path(despesa), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      despesa_path(despesa),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_despesa_path,
            :class => 'btn btn-primary' %>
