<%= form_for @costureira, :html => { :class => "form-horizontal costureira" } do |f| %>

  <% if @costureira.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@costureira.errors.count, "error") %> prohibited this costureira from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @costureira.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :data, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data) %>
  </div>
  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :valor_pago, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :valor_pago, :class => 'form-control' %>
    </div>
    <%=f.error_span(:valor_pago) %>
  </div>
  <div class="form-group">
    <%= f.label :q_produto, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :q_produto, :class => 'form-control' %>
    </div>
    <%=f.error_span(:q_produto) %>
  </div>
  <div class="form-group">
    <%= f.label :obs, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :obs, :class => 'form-control' %>
    </div>
    <%=f.error_span(:obs) %>
  </div>
  <div class="form-group">
    <%= f.label :produto_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :produto_id, Produto.all, :id, :nome, prompt: true, :class => 'form-control' %>
    </div>
    <%=f.error_span(:produto_id) %>
  </div>
  <div class="form-group">
    <%= f.label :quantidade_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :quantidade_id, Quantidade.all, :id, :q_corte, prompt: true, :class => 'form-control' %>
    </div>
    <%=f.error_span(:quantidade_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                costureiras_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
